# Database
DATABASE_URL=your-connection-string-from-supabase

# Public
NEXT_PUBLIC_SITE_URL=https://localhost:3000

#Google Api Keys
GOOGLE_MAPS_CLIENT_SECRET=your-google-cloud-api-secret
NEXT_PUBLIC_GOOGLE_MAPS_CLIENT_ID=your-google-cloud-api-client-id
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-cloud-api-key